h1{
font-weight: bolder;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  backgroud color: #193;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #098;
}
